/* Base Styles */

blockquote.myQuotes {
    margin-left: 10px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

input[type="text"], input[type="number"] {
    outline: 0;
    background: #e8ebed;
    color: #657380;
    font-size: 15px;
    padding: 16px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 2px solid #e8ebed;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

input[type=text]:focus {
    background: #ffffff;
    border-color: #d4d9dd;
}

button {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    line-height: 1.42;
    font-size: 0.9375em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    background-color: #338dbc;
    color: #fff;
}

button[disabled=disabled], button:disabled {
    background: #e8ebed;
}


/* Components*/

.quotes-container {
    padding: 20px;
    overflow: hidden;
}

.all-quotes {
    margin-left: 5%;
}

.form-row {
    padding: 10px;
}

.contentdiv {
    position: relative;
    overflow: hidden;
}

.total-quotes {
    position: relative;
}
/* Animation Styles */

.singlethoughts, .total-quotes {
    opacity: 0;
    left: -160px;
}

.singlethoughts.is-visible, .total-quotes.is-visible {
    transition: left 0.5s ease-in-out;
    animation-direction: alternate;
    opacity: 1;
    left: 0;
}
